### This notebook contains a python script that computes Risk Weighted Asset (RWA) and Expected Loss (EL) for a given set of Probability of Default (PD), Loss Given Default (LGD) and Exposure at Default (EAD) values

In [1]:
def RWA(vector):
    from math import exp
    from scipy.stats import norm
    
    Assigned_PD = vector[0]
    Assigned_LGD = vector[1]
    EAD = vector[2]
    
    if Assigned_PD == 1:
        R = 0
        K = 0
        RWA = 0
        RW = 0
        EL = 0
    else:
        R = 0.03*(1-exp(-35*Assigned_PD))/(1-exp(-35))+0.16*(1-(1-exp(-35*Assigned_PD))/(1-exp(-35)))
        K = (Assigned_LGD*norm.cdf((1-R)**-0.5*norm.ppf(Assigned_PD)+(R/(1-R))**0.5*norm.ppf(0.999))-Assigned_PD*Assigned_LGD)
        RWA = K*EAD*12.5*1.06
        RW = K*12.5
        EL = Assigned_PD*Assigned_LGD*EAD
    
    return pd.Series((R,K,RWA,EL))

In [2]:
import pandas as pd
import numpy as np

In [4]:
lst_PD = [0.0929,0.1894]
lst_LGD = [0.31,0.31]
lst_EAD = [30880.46,115799.67]

lst_AC1 = [0.0929,0.31,30880.46]
lst_AC2 = [0.1894,0.31,115799.67]

In [7]:
df = pd.DataFrame(data=[lst_AC1,lst_AC2],columns=['Assigned_PD','Assigned_LGD','Assigned_EAD'])

In [8]:
df

   Assigned_PD  Assigned_LGD  Assigned_EAD
0       0.0929          0.31      30880.46
1       0.1894          0.31     115799.67

In [9]:
df[['R','K','RWA','EL']] = df[['Assigned_PD','Assigned_LGD','Assigned_EAD']].apply(RWA,axis=1)

In [10]:
df

,Assigned_PD,Assigned_LGD,Assigned_EAD,R,K,RWA,EL
0,0.0929,0.31,30880.46,0.035033,0.040702,16653.673989,889.326368
1,0.1894,0.31,115799.67,0.030172,0.054027,82896.585364,6799.061824

In [11]:
df2 = pd.DataFrame(list(zip(lst_PD,lst_LGD,lst_EAD)),columns=['Assigned_PD','Assigned_LGD','Assigned_EAD'])

In [12]:
df2

   Assigned_PD  Assigned_LGD  Assigned_EAD
0       0.0929          0.31      30880.46
1       0.1894          0.31     115799.67

In [13]:
df2[['R','K','RWA','EL']] = df2[['Assigned_PD','Assigned_LGD','Assigned_EAD']].apply(RWA,axis=1)

In [14]:
df2

,Assigned_PD,Assigned_LGD,Assigned_EAD,R,K,RWA,EL
0,0.0929,0.31,30880.46,0.035033,0.040702,16653.673989,889.326368
1,0.1894,0.31,115799.67,0.030172,0.054027,82896.585364,6799.061824